<!-- wishlist.html -->
{% extends 'base.html' %}

{% block content %}
<h1>whislist of the user is stored in here </h1>
<h2> we are here for anythinh and always here</h2>
<p>so for that we need proer space and angle and always say that</p>
 <!-- <section id="wishlist">
    <div class="container">
      <div>
        <div>
      <h2>Your Wishlist</h2>
      <ul>
        {% for recipe in recipes %}
          <li>{{ recipe.name }} - {{ recipe.description }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
  </section>-->
  <h2>Your Wishlist</h2>
<ul>
    {% for item in wishlist_items %}
        <li>{{ item.recipe_name.name }} </li>
    {% empty %}
        <li>Your wishlist is empty.</li>
    {% endfor %}
</ul>
{% endblock %}